<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Dester-Libdrive</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400&display=swap');
        body {
            margin: 0;
            font-family: 'Readex Pro', sans-serif !important;
        }
        .container {
            text-align: center;
            margin: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oops! Looks like the page doesn't exist.</h1>
        <a href="/">Go back</a>
    </div>
</body>
</html>